<ul class="navbar-nav text-uppercase ml-auto d-flex flex-row">
					<li class="nav-item mr-4">
						<a class="nav-link" href="/admin">ADMIN</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/categories">CATEGORIES</a>
					</li>
					<li class="nav-item ml-4">
						<a class="nav-link" href="/admin/posts">POSTS</a>
					</li>

				</ul>